*{
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}


video {
    position: fixed;
    height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1;background-color: rgba(0, 0, 0, 1);
}
#topicon{
    width:93px;
    height:78px;
    object-fit:cover
}

ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    list-style-type: none;
    width:30vw;
}
ul li{
    margin: 1rem;
}

header{
    position: relative;
    display:flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgba(0, 0, 0, 0.18);
    height: 90px;
    width: 100vw;
}
header div{
    display: flex;
    align-items: center;
}
#aaochaloimg{
    width:224px;
    height:49px;
    object-fit:cover;
}
/* a{
    color: aliceblue;
    text-decoration: none;
    font-family: Rubik,sans-serif;
    font-weight: 50;
}
a:hover{
    border-top: 4px solid aliceblue;
    
} */
.link {
    position: relative;
    text-decoration: none;
    color: aliceblue;
    font-family: Rubik,sans-serif;
  }
  
  .link::after {
    content: "";
    position: absolute;
    top: -4px;
    left: -10px;
    width: calc(100% + 15px);
    height: 2px;
    background-color: aliceblue;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .link:hover::after {
    opacity: 1;
  }
#piclink:hover{
    border-top: 0;
}

frontfront{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    
}
bigtextfront{
    width: 47vw;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(18, 19, 19);
    margin-left: 17vw;
    margin-top: 110px;
}
#textfront{
    position: relative;
    color: aliceblue;
    font-size: 15vh;
    width: 47vw;
    color: aliceblue;
    font-size: 82px;
    letter-spacing: normal;
    font-weight: bold;
    line-height: 1em;
    font-family: Rubik,sans-serif;
}
twocards{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 17vw;
    margin-bottom: 100px;
    margin-top: 75px;
    animation: translateAnimation 3s forwards;
}
@keyframes translateAnimation {
    0% {
        opacity: 0;
      transform: translateY(100px);
    }
    100% {
        opacity: 1;
      transform: translateY(0px);
    }
  }
card1{
    
    background-color: aliceblue;
    color: #20425D;
    width: 240px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#cardtext{
    font-size: 16px;
    font-family: Rubrik,sans-serif;
    font-weight:normal;
    font-weight:bold;
    font-variant:normal;
    letter-spacing:0em;
    line-height:normal;
    letter-spacing:normal;
    line-height: 25px;
    /* margin-top: 10px; */
}
#cardtext2{
    font-size: 16px;
    font-family: Rubrik,sans-serif;
    font-weight:normal;
    font-weight:normal;
    font-variant:normal;
    letter-spacing:0em;
    line-height:normal;
    letter-spacing:normal;
    line-height: 25px;
    width: 7.8vw;
    margin-top: 10px;
}

card2{
    background-color: #20425D;
    color: aliceblue;
    width: 240px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
card1 p,card2 p{
    margin-left: 20px;

}
sections{
    display: flex;
    flex-direction: column;
}
section1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-image:url("https://static.wixstatic.com/media/nsplsh_a9633427bbd24365b74baa8949e5ad00~mv2.jpg/v1/fill/w_1536,h_630,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_a9633427bbd24365b74baa8949e5ad00~mv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
section2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-image:url("https://static.wixstatic.com/media/11062b_500da2d27e294e7d9b3554c51f7de56f~mv2.jpeg/v1/fill/w_1920,h_788,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/11062b_500da2d27e294e7d9b3554c51f7de56f~mv2.jpeg" );
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
section3{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-image:url("https://static.wixstatic.com/media/nsplsh_544167475a577a36516738~mv2.jpg/v1/fill/w_1536,h_627,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_544167475a577a36516738~mv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
section4{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-image:url("https://static.wixstatic.com/media/nsplsh_6874517a6e532d52783777~mv2.jpg/v1/fill/w_1536,h_630,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_6874517a6e532d52783777~mv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
section5{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-image:url("https://static.wixstatic.com/media/nsplsh_70cc890259834535bd3df389a37c675b~mv2.jpg/v1/fill/w_1536,h_630,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_70cc890259834535bd3df389a37c675b~mv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
section6{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    background-image:url("https://static.wixstatic.com/media/nsplsh_82caa8ab7e1648039e9c58944a5c9e71~mv2.jpg/v1/fill/w_1536,h_630,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/nsplsh_82caa8ab7e1648039e9c58944a5c9e71~mv2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

#flights{
    position: relative;
    text-align: center;
    color: aliceblue;
    font-size: 10vh;
    font-size:70px; line-height:normal; text-align:center;
    font-family: Rubik,sans-serif;
    font-weight: 700;
    letter-spacing: 15px;
    text-decoration: none;
} 
#flights:hover{
    border-top: 0;
}


 

@media screen and (max-width:1440px) {
    bigtextfront{
        width: 800px;
        margin-top: 90px;
    }
    #textfront{
        width: 800px;
        font-size:82px;
    }
    card1,card2{
        height: 140px;
        width: 240px;
    }
    #cardtext2{
        width: 10vw;
    }
}
@media screen and (max-width:1280px) {
    bigtextfront{
        width: 800px;
        margin-top: 90px;
    }
    #textfront{
        width: 800px;
        font-size:82px;
    }
    card1,card2{
        height: 140px;
        width: 240px;
    }
    #cardtext2{
        width: 10vw;
    }
}
@media screen and (max-width:850px){
    
    header ul li{
        font-size: 13px;
        margin: 0.5rem;
    }
    bigtextfront{
        width:80vw;
        margin-top: 25px;
        margin-left: 10px;
        
    }
    #textfront{
        width: 80vw;
        font-size:70px;
        margin-left: 10px;
    }
    twocards{
        margin-left: 10px;
        margin-top: 15px;
    }
    card1,card2{
        height: 140px;
        width: 240px;
        margin-bottom: 25px;
    }
    #cardtext2{
        width: 10vw;
    }
    section1,section2,section3,section4,section5,section6{
        height: 40vh;
    }
   
}
@media screen and (max-width:450px){
    #topicon{
        width: 60px;
        height: 60px;
    }
    #aaochaloimg{
        width: 190px;
        height: 45px;
    }
    bigtextfront{
        width:85vw;
        margin-top: 90px;
        margin-left: 10px;
        
    }
    #textfront{
        width: 85vw;
        font-size:45px;
        margin-left: 10px;
    }
    card1,card2{
        height: 115px;
        width: 170px;
        margin-bottom: 25px;
        margin-top: 70px;
    }
    #cardtext2{
        width: 40vw;
    }
    section1,section2,section3,section4,section5,section6{
        height: 40vh;
        
    }
    #flights{
        font-size: 13vw;
        letter-spacing: 5px;
    }
}

